body {background-color: #f1f2f6;}
.item {
    width:100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/*
@media (min-width: 768px) {
    .item {
        width : 33.33333333%;
    }
}
@media (min-width: 992px) { 
    .item {
        width : 25%;
    }
}
@media (min-width: 1200px) {
    .item {
        width : 16.66666667%;
    }
}
*/

header {
    height: 64px;
    padding: 14px 20px;
    border: 0 solid #000;
    display: flex;
    background-color: #fff;
}

header img {
    flex-basis: 30px;
    height: 30px;
    margin: -1px 10px -1px -5px;
    width: 30px;
    background-color: #fbfbfb;
    border-radius: 50%;
    border: 1px solid #cccfd0;
}

header a {
    color: #125688;
    text-decoration: none;
    display: inline-block;
    margin-right: 100%;
    max-width: 100%;
}

.thumbnail {
    margin-bottom: 1px;
}

#instahead {overflow: visible; position: fixed;
    border: 0 solid #000; width: 100%; background: #fff; z-index: 1001; top: 0px;
    max-width: 640px; margin: auto; left: 0; right: 0;
}
#instahead img {height: 30px; width: 30px; margin: -1px 10px -1px -5px;}
.fake_header {visibility: hidden;}
